<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746068672341-arp5k87a81sd1068efqpjp7cu300i1pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746068672341-arp5k87a81sd1068efqpjp7cu300i1pc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJSwiKCx5ruXnMIqoWmmeS1XjPPf7FpR8</string>
	<key>GCM_SENDER_ID</key>
	<string>746068672341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderresnik.squiggles</string>
	<key>PROJECT_ID</key>
	<string>squiggles-free</string>
	<key>STORAGE_BUCKET</key>
	<string>squiggles-free.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:746068672341:ios:201d350a3dd97f0f8539dc</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2734845986924337~2793213867</string>
</dict>
</plist>
